<div
  *ngrxLet="{
    filterRegion: filterRegion$,
    scheme: scheme$,
    width: width$
  } as observables"
  [ngClass]="[observables.scheme, observables.width]"
>
  <button [cdkMenuPosition]="position" [cdkMenuTriggerFor]="menu">
    <span class="region">{{ caption(observables.filterRegion) }}</span>
    <img
      alt="Select Icon"
      [src]="imgSrc('select', observables.width, observables.scheme)"
    />
  </button>
</div>

<ng-template #menu>
  <app-region-menu></app-region-menu>
</ng-template>
