.search {
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  padding-left: 2rem;
}

input {
  background: transparent;
  border: none;
  color: inherit;
  font-size: inherit;
  outline: none;
}
