<div
  *ngrxLet="{ scheme: scheme$, width: width$ } as observables"
  [ngClass]="[observables.scheme, observables.width]"
>
  <form>
    <div class="control search">
      <img
        alt="Search Icon"
        class="search-icon"
        [src]="imgSrc('search', observables.width, observables.scheme)"
      />
      <input placeholder="Search for a country…" type="text" />
    </div>
    <button
      class="control"
      type="button"
      [cdkMenuPosition]="position"
      [cdkMenuTriggerFor]="menu"
    >
      <span class="region">Filter by Region</span>
      <img
        alt="Select Icon"
        [src]="imgSrc('select', observables.width, observables.scheme)"
      />
    </button>
  </form>
</div>

<ng-template #menu>
  <app-region-menu></app-region-menu>
</ng-template>
