<div
  *ngrxLet="{ scheme: scheme$, width: width$ } as observables"
  [ngClass]="[observables.scheme, observables.width]"
>
  <form [formGroup]="form">
    <div class="search">
      <img
        alt="Search Icon"
        class="search-icon"
        [src]="imgSrc(observables.width, observables.scheme)"
      />
      <input
        formControlName="search"
        placeholder="Search for a country…"
        type="text"
      />
    </div>
    <app-region-filter></app-region-filter>
  </form>
</div>
